# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Production
dist/

# Environment variables
.env
.env.*

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Editor
.idea/
.vscode/
*.swp
*.swo
